doctype html
html(lang="en")
  head
    title HexMap Sample
    meta(charset='UTF-8')
    meta(http-equiv='Content-Language', content='en')
    link(rel='stylesheet', type='text/css', href='/static/css/main.css')
    script(src='/static/js/require.js' data-main='/static/js/app')
    block extraHead

  body
    #hexmap

